<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReflectionResolverPath" value="C:\Users\pinzas\Documents\Visual Studio 2017\Projects\Bellatrix\Lib" />
    <add key="FileLoggerPath" value="C:\Users\pinzas\Documents\Visual Studio 2017\Projects\Bellatrix\Lib\Bellatrix.log" />
    <add key="DbLoggerServer" value=".\SQLExpress" />
    <add key="DbLoggerPath" value="C:\Users\pinzas\Documents\Visual Studio 2017\Projects\Bellatrix\Lib\Bellatrix.mdf" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
